.device {
  &__container {
    display: flex;
  }
  &__live-input-box {
    height: 40%;
    width: 40%;
    background: $dark;

    &__text {
      color: white;

      &__input {
        color: green;
      }
    }
  }
}