.device {
  &__container {
    display: flex;
  }
  &__live-input-box {
    height: 40%;
    width: 60%;
    background: $dark;
    margin-bottom: 5%;

    &__text {
      color: white;

      &__input {
        color: green;
      }
    }
  }
}