* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #888;
}

.scene-container {
  margin-left: 15rem;
  height: 100%;
}


@import "../src/styles/variables.scss";
@import "../src/scenes/Dashboard/components/InputDeviceBox.scss";
@import "../src/scenes/components/NavBar.scss";
@import "../src/scenes/components/Modal.scss";
@import "../src/scenes/Dashboard/Dashboard.scss";
@import "../src/scenes/Dashboard/components/Series.scss";
@import "../src/scenes/Dashboard/SeriesPage/SeriesPage.scss";
@import "../src/scenes/Auth/Login/Login.scss";
